@using KLC.Models
@model PatientViewModel
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/action.css" asp-append-version="true" />
<div class="text-center">
    @*TODO: Resultat för mätning (åtgärdstrappa) skall vara här*@
	<div class="content-wrapper">
		<div class="title-section">
			<div class="patient-wrapper">
				<div class="white-on-blue">
					<p>Visar åtgärd för patient @(Model.Patient.Id):</p>
				</div>
				<div>
					<p>@Model.Patient.Personnummer</p>
				</div>
			</div>
			<h1>Åtgärdstrappa</h1>
		</div>
		<table>
			<tr>
				<th>NEWS</th>
				<th class="text-center">Övervakningsfrekvens</th>
				<th class="text-center">Åtgärd</th>
			
			</tr>
			<tr @if(Model.Action == 0){<text>class="highlight"</text>}>
				<th class="row1">0</th>
				<td >Senast inom 12 timmar</td>
				<td ><p>Fortsätt övervaka NEWS enl rekommenderad övervakningsfrekvens</p></td>
			
			</tr>
			<tr @if(Model.Action == 1){<text>class="highlight"</text>}>
				<th class="row2">Totalt 1-4</th>
				<td>Senast inom 4-6 timmar</td>
				<td><p>• Informera ansvarig sjuksköterska om NEWS-värdet.<br> • Ansvarig sjuksköterska bedömer om övervakningsfrekvensen ska ökas samt behov av läkarbedömning</p></td>
			
			</tr>
			<tr @if(Model.Action == 2){<text>class="highlight"</text>}>
				<th class="row3">3 poäng i en parameter</th>
				<td > Senast inom 1 timme* </td>
				<td ><p>• Ansvarig sjuksköterska ska informera ansvarig läkare.<br> • Brådskande bedömning av ansvarig läkare samt eventuellt kontakt med MG-team.</p></td>
			</tr>
			<tr @if(Model.Action == 3){<text>class="highlight"</text>}>
				<th class="row4">Totalt 5-6</th>
				<td > Senast inom 1 timme* </td>
				<td ><p>• Ansvarig sjuksköterska ska informera ansvarig läkare.<br> • Brådskande bedömning av ansvarig läkare samt eventuellt kontakt med MG-team.<br> • Överväg vård med möjlighet till tät tillsyn och övervakning.</p> </td>
			
			</tr>
			<tr @if(Model.Action == 4){<text>class="highlight"</text>}>
				<th class="row5">Totalt ≥7</th>
				<td> Överväg kontinuerlig övervakning* </td>
				<td> <p>• Ansvarig sjuksköterska ska omedelbart tillkalla ansvarig läkare.<br> • Överväg kontakt med MIG-team.<br> • Överväg att flytta patienten till högre vårdnivå. </p></td>
			</tr>
		</table>
			<div class="info-section">
			<p>* Avsteg från övervakningsfrekvens kan göras av läkare efter bedömning av patienten</p>
		</div>
				<div class="history">
		<table>
		<tr>
			<th>Tidpunkt</th>
			<th>Andningsfrekvens</th>
			<th>Syremättnad</th>
			<th>Tillförd syrgas</th>
			<th>Systoliskt blodtryck</th>
			<th>Pulsfrekvens</th>
			<th>Medvetandegrad</th>
			<th>Temperatur</th>
		</tr>
		@*Visa tabell med värden istället för news poäng
			använder index för att visa estetiskt värde snarare än det uppmätta newsvärdet.
			3 = 0 på news skalan, +värdet på mätningen som går från -3 till +3
		*@
		@if(Model.Matningar.Count() >=1){
		@for (var i = Model.Matningar.Count()-1; i < Model.Matningar.Count(); i++)
		{
					MatningNews2 element = @Model.Matningar[i];
					string empty = "--";

			<tr>
				<td>
					@element.TidForMatning.ToShortDateString()
					@element.TidForMatning.ToShortTimeString()
				</td>
						@if (element.Andningsfrekvens == null)
						{
							<td>@empty</td>
						}
						else
						{
						<td>@Model.Varden.Andningsfrekvens[(3+(int)element.Andningsfrekvens)]</td>
						}
						
				@* if using syremättnad2, dumt sätt att skilja på vilken som valdes är att inputs för sm2
					går från 7 till 13: 7-10 = -3
				*@
						@if(element.SyreMattnad == null)
						{
							<td>@empty</td>
						}
						else
						{
							@if(element.SyreMattnad >= 7){
							<td>@Model.Varden.SyreMattnad2[3+(int)element.SyreMattnad-10]<p>syrgas 2</p></td>
							}
							else{
							<td>@Model.Varden.SyreMattnad1[3+(int)element.SyreMattnad]</td>
							}
						}

						@if(element.TillfordSyrgas == null)
						{
							<td>@empty</td>
						}
						else
						{
							<td>@Model.Varden.TillfordSyrgas[3+(int)element.TillfordSyrgas]</td>
						}

						@if(element.SystolisktBlodtryck == null)
						{
							<td>@empty</td>
						}
						else
						{
							<td>@Model.Varden.SystolisktBlodtryck[3+(int)element.SystolisktBlodtryck]</td>
						}

						@if(element.Pulsfrekvens == null)
						{
							<td>@empty</td>
						}
						else
						{
							<td>@Model.Varden.Pulsfrekvens[3+(int)element.Pulsfrekvens]</td>
						}

						@if(element.Medvetandegrad == null)
						{
							<td>@empty</td>
						}
						else
						{
							<td>@Model.Varden.Medvetandegrad[3+(int)element.Medvetandegrad]</td>
						}

						@if(element.Temperatur == null)
						{
							<td>@empty</td>
						}
						else
						{
							<td>@Model.Varden.Temperatur[3+(int)element.Temperatur]</td>
						}
			</tr>
		}
		}
		</table>
		
		</div>
	</div>

		<div class="controls">
		@* kan inte göra såhär med submit, göm denna knapp i modal istället och gör JS trams*@
	<a  class="newsbutton submit" asp-controller="Patient" asp-action="Index">Ny mätning</a>
	<div class="separator"></div>
	<a  class="newsbutton" asp-controller="Patient" asp-action="Statistics">Visa historik</a>
	</div>

	<script>
	//override för mousedown, annars fungerar inte select/deselect i tabellen.
	document.addEventListener("mousedown", (e) => {
	//om klick på label, hämtar radioknapp genom for attributet
    const radio = document.querySelector("#" + e.target.attributes.for.nodeValue);
	//om redioknappen har klickats i, sätt dit en ny klickfunktion som sätter checked till false, och tar bort sig själv efter den aktiverats.
    if (radio.checked) {
        const override = () => {
            radio.checked = false;
            radio.removeEventListener("click", override);
        }
        radio.addEventListener("click", override);
    }
	});
	</script>

</div>

